/*
html{
	height:100%;
}

body{
	background: url(../img/LA.jpg) no-repeat top center; 
	background-size: cover;
	padding: 0px;
}*/

html{
	height:100%;
}

body{
	background-color: #FDF5D2;
	padding: 0px;
}
