body{
	background-color: #FDF5D2; /*#FAEBAC */
	padding: 20px;
}

h1{
	text-align: center;
	font-family: "Coves";
	font-size: 250%;

}

p.title{
	margin-right: auto;
	margin-left: auto;
	font-family: "Coves";
	font-size: 800%;
	margin-bottom: 20px;
	margin-top: 50px;
}

h2{
	text-align: center;
	font-family: "Coves";
	color: orange;
	font-size: 220%;
	margin-left: 1em;
	margin-right: 1em;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 15px;
}

form{
	text-align: center;
	font-size: 14px;
}

div.header{
	text-align: right;
}

div.header a{
	text-decoration: none;
	font-family: "Coves";
	margin-right: 5px;
	margin-left: 5px;
	font-size: 120%;
}

p{
	text-align: center;
	font-family: "Coves";
	margin-left: 1.5em;
	margin-right: 1.5em;
	font-size: 180%;
}

img.us{
	display: block;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

img.board-member{
	opacity: 0.4;
}

hr.members{
	display: block;
	border: 1px solid #F6E6A6;
	/*box-shadow: 0px 10px 20px black;*/
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-top: 0px;
}

hr.home{
	display: block;
	border: 1px solid #F6E6A6;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	min-width: 200px;
}

.button{
	background-color: orange;
	border: 1px solid orange;
	font-size: 16px;
	color: white;
	size: 200%;
	font-style: "Coves";
}

.founders{
	background-color: gray;
}

#mark{
	opacity: 0.6;
	float: left;
	margin-left: 10%;
	margin-right: 5px;
	width: 300px;
}

#terry{
	opacity: 0.6;
	float: right;
	margin-left: 5px;
	margin-right: 10%;
	width: 300px;
}

#mark-text{
	background-color: #F6E6A6;
	opacity: 0.6;
	float: left;
	margin-left: 10%;
	margin-right: 5px;
	width: 300px;
	height: 150px;
}

#terry-text{
	background-color: #F6E6A6;
	opacity: 0.6;
	float: right;
	margin-left: 5px;
	margin-right: 10%;
	width: 300px;
	height: 150px;
}

#board{
	clear:both;
}

.board-member{
	width: auto;
	background-color: #F6E6A6;
	text-align: none;
	font-family: "Coves";
	margin-left: 0em;
	margin-right: 0em;
	font-size: 180%;
}