{% extends "base.html" %}
{% block content %}

<h1> About </h1>

<p> ICON(sent) Entertainment Technologies started with the question of how prevalent is affirmative consent within the pornography industry. We found many examples of highly robust frameworks for gaining actor and actress consent, but as we began to reach out to smaller fringe producers we noticed that they were struggling to do anything more for their performers than the bare minimum.
<br>
<br>
Producers wanted to attract more talent and keep their performers happy. Performers wanted greater information about consent practices at production companies. We soon discovered that an overwhelming majority of pornography users also wanted the gaurantee that their favorite actors/actresses were receiving proper treatment both on and off set.
<br>
<br>
Currently we are working with producers, performers, distributors, and pornography users to develop technologies that can easily be incorporated into the production and distribution process of the adult entertainment industry. We hope you join us on our journey!
</p>

{% endblock %}