{% extends "base.html" %}
{% block content %}
<div style="max-width:none" class="page">
<h1> Board of Advisors </h1>

<div id = "board">

	<div class="board-row">
		<p class="board-member"> Pornography Producers</p>
		<p class="board-member"> Sex Psychologists</p>
		<p class="board-member"> Data Analysts</p>
	</div>

	<div class="board-row">
		<p class="board-member"> Performers</p>
		<p class="board-member"> Sex Health & Education Specialists</p>
		<p class="board-member"> Legal Professionals Specializing in Online Pornographic Content</p>
	</div>

	<div class="board-row">
		<p class="board-member"> Distribution Platforms</p>
		<p class="board-member"> Technology Entrepreneurs</p>
		<p class="board-member"> Documentary Film Makers</p>
	</div>

</div>
</div>
{% endblock %}