{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<!-- <h1> Members </h1>

<img class="us"  src={% static "img/us.png" %} />
<hr class= "members">

<div class="row">	
	<div class="six columns">
		<h1>Mark</h1>
		<p>Mark completed his bachelors in computer engineering and is currently pursuing an MBA at the Yale School of Management. He has been involved in youth activism over the past seven years and has studied the pornography industry through a variety of societal, anthropological, cultural, business-oriented and technology perspectives.</p>
	</div>

	<div class="six columns">
		<h1>Terry</h1>
		<p>Terry is completing his bachelors in Visual Arts and French. He has been helping others and volunteering for several years, mostly through visual language. He would like to use his design powers to do good and make a contribution to society.
		</p>
	</div>
</div>
 -->
<div id = "board">

	<div class="row">
		<div class="twelve columns"><h1> Board of Advisors </h1></div>
	</div>

	<div class="row">
		<p class="board-member one-third column"> Pornography Producers</p>
		<p class="board-member one-third column"> Sex Psychologists</p>
		<p class="board-member one-third column"> Data Analysts</p>
	</div>

	<div class="row">
		<p class="board-member one-third column"> Performers</p>
		<p class="board-member one-third column"> Sex Health & Education Specialists</p>
		<p class="board-member one-third column"> Legal Professionals Specializing in Online Pornographic Content</p>
	</div>

	<div class="row">
		<p class="board-member one-third column"> Distribution Platforms</p>
		<p class="board-member one-third column"> Technology Entrepreneurs</p>
		<p class="board-member one-third column"> Documentary Film Makers</p>
	</div>

</div>

{% endblock %}