<!DOCTYPE html>

<html>
<head>
{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/navbar.js' %}"></script>

<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />

</head>
<body>
	<header>
	  <button class="hamburger">&#9776;</button>
	  <button class="cross">&#735;</button>
	</header>

	<div class="menu">
	  <ul>
	    <a href="{% url 'home' %}"><li>Home</li></a>
			<a href="{% url 'about' %}"><li>About</li></a>
			<a href="{% url 'methodology' %}"><li>Methodology</li></a>
			<a href="{% url 'members' %}"><li>Members</li></a>
			<a href="{% url 'contact' %}"><li>Contact Us</li></a>
	  </ul>
	</div> 

{% block content %}

{% endblock %}

</body>
</html>

