{% extends "base.html" %}
{% block content %}

<h1> Contact </h1>

<p> Reach out to us with ideas, stories, potential partnerships, or if you're interested in helping out. Pornography and sex work are highly controversial industries and often emotionally charged. More so than almost any other industry, pornography deals with incredibly nuanced and complex components and has touched many lives in both positive and negative ways. Please be curtious in your messages and we will gladly respond to any and all inquiries no matter the content.</p>

<h2> mark@icon-sent.com </h2>

{% endblock %}