{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="page">
<!--<p class="title"> ICON(<strong>SENT</strong>) </p> -->
<img class="logo"  src={% static "img/logo_v2.png" %} />
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
<!--<h2> Let's talk porn. </h2>-->



<p> ICON(sent) Entertainment Technologies is leading the way in software development for pornographic content providers. Our mission is to ensure that all peoples featured in widely distributed pornography are fully consenting individuals.
</p>

<form method="POST" action="">
{% csrf_token %}
<div id="email">{{ form }}</div>
<input type="submit" value='Stay Updated' class='btn btn-primary button' />
</form>

</div>
{% endblock %}


